<div class="container-fluid" ng-controller="vmCpuController">
  <ol class="breadcrumb" style="margin-bottom: 0px;">
    <li><a href="#vm-overview">{{::vmName}}</a></li>
    <li>CPU</li>
  </ol>

  <tms-notification-center owner="vmCpu"></tms-notification-center>

  <div class="container-fluid blank-slate-pf container-cards-pf">

    <div class="card-pf card-pf-view col-lg-3 col-md-6">
      <div class="card-pf-body">
        <div class="card-pf-heading-kebab">
          <div class="dropdown pull-right dropdown-kebab-pf">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownKebab" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span class="fa fa-ellipsis-v"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownKebab">
              <li onclick="event.stopPropagation();">
                <label class="checkbox-inline">
                  <input id="enabled-checkbox" type="checkbox" ng-model="refreshEnabled">Refresh</input>
                </label>
              </li>
              <li onclick="event.stopPropagation();">
                <label>Update Frequency</label>
                <select class="combobox" ng-model="updateFreq" convert-to-number>
                  <option value="2">Every 2 Seconds</option>
                  <option value="5">Every 5 Seconds</option>
                  <option value="60">Every 1 Minute</option>
                </select>
              </li>
              <li onclick="event.stopPropagation();">
                <label>Sample Period</label>
                <select class="combobox" ng-model="samplePeriod" convert-to-number>
                  <option value="5">10 Seconds</option>
                  <option value="30">1 Minute</option>
                </select>
              </li>
            </ul>
          </div>
        </div>

        <div ng-controller="vmCpuChartController" class="row" style="display:inline-block; width: 100%">
          <!-- Important:  if you need to nest additional .row within a .row.row-cards-pf, do *not* use .row-cards-pf on the nested .row  -->
          <div pf-utilization-trend-chart
               config="::config"
               donut-config="::donutConfig"
               sparkline-config="::sparklineConfig"
               chart-data="data"
               donut-center-label="percent">
          </div>
        </div><!-- /row -->
      </div>
    </div>

  </div>

</div>

